h1 {
  color: #FFFFFF;
  font-size: 42px;
}

h3 {
  color: #FFFFFF;

}

p {
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;

}

.mission-banner {
  min-height: 680px;
  margin-top: 80px;
  background: url("../images/about-us-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 50px 50px 50px;
  text-align: center;
}

.mission-banner h1 {
  font-size: 100px;
}

.mission-banner p {
  font-family: 'Barlow', sans-serif;
  font-size: 24px;
}

.mission-banner .inner-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mission-banner h1 {
  animation: float 0.5s ease-in-out;
}

.mission-banner p {
  animation: float-long 0.8s ease-in-out;
}

@keyframes float {

  0% {
    opacity: 0;
    transform: translateY(25%);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }

}

@keyframes float-long {

  0% {
    opacity: 0;
    transform: translateY(25%);
  }

  37.5% {
    opacity: 0;
    transform: translateY(25%);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }

}

.company-overview {
  text-align: center;
  padding: 80px 200px;
}

.company-overview p {
  font-size: 18px;
  padding-top: 20px;
  line-height: 30px;
}

.company-overview img {
  width: 80%;
  padding-top: 60px;
}

.purpose-section {
  display: flex;
}

.purpose-section .text-box {
  padding: 80px 50px;
  flex: 1;
}

.purpose-section .text-box p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 30px;
}

.purpose-section .image-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.purpose-section .image-box img {
  width: 100%;
}

.fight-for-science .image-box img {
  width: 85%;
}

.btn-container-2 {
  padding-top: 50px;
}

.mars-container {
  min-height: 600px;
  background: url("../images/implementing-courage-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 50px 50px 50px;

}


.mars-container .inner-container {
  float: right;
  width: 40%;
}


.mars-container h1 {
  text-transform: uppercase;
  font-size: 42px;

}

.mars-container p {
  padding: 20px 0;
  padding-bottom: 50px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  line-height: 25px;

}


@media screen and (max-width: 1100px) {

  h1 {
    font-size: 36px;
  }

  .company-overview {
    padding: 80px 150px;
  }

  .company-overview p {
    font-size: 16px;
    line-height: 25px;
  }

  .company-overview img {
    width: 80%;
  }

  .purpose-section .text-box p {
    font-size: 14px;
    line-height: 25px;
  }

  .about-us .section-1 h1, .mars-container h1, .gallery-content .section h1 {
    font-size: 36px;
  }

}

@media screen and (max-width: 1000px) {

  .mars-container {
    min-height: 500px;
    padding: 100px 50px 0px 50px;
  }

  .mars-container .inner-container {
    width: 50%;
  }

}

@media screen and (max-width: 860px) {

  .mission-banner {
    margin-top: 60px;
    min-height: 540px;
  }

  .mission-banner h1 {
    font-size: 80px;
  }

  .mission-banner p {
    font-size: 24px;
  }

  .mission-banner .inner-container {
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
  }

  .company-overview {
    padding: 80px 100px;
  }

  .company-overview p {
    font-size: 14px;
    line-height: 25px;
  }

  .company-overview img {
    width: 100%;
    padding-top: 40px;
  }



}

@media screen and (max-width: 768px) {

  .mission-banner h1 {
    font-size: 72px;
  }

  .mission-banner p {
    font-size: 22px;
  }

  .purpose-section {
    display: block;
  }

  .purpose-section .image-box img {
    width: 80%;
  }

  .fight-for-science .image-box img {
    width: 80%;
  }

  .mars-container {
    background-position: -250px -50px;
    background-size: 150%;
    min-height: 400px;
    padding: 50px 50px 0px 50px;
  }

  .mars-container h1 {
    font-size: 32px;

  }

  .mars-container p {
    padding: 20px 0;
    padding-bottom: 30px;

  }

  .mars-container .inner-container {
    width: 65%;
  }

}

@media screen and (max-width: 600px) {

  .company-overview {
    padding: 80px 50px;
  }

  .mars-container {
    background-position: -400px -50px;
    background-size: 200%;
    min-height: 400px;
    padding: 50px 50px 0px 50px;
  }

  .mars-container h1 {
    font-size: 32px;
    text-align: center;

  }

  .mars-container p {
    padding: 20px 0;
    padding-bottom: 30px;
    text-align: center;

  }

  .mars-container .btn-container {
    text-align: center;
  }

  .mars-container .inner-container {
    width: 100%;
  }

}

@media screen and (max-width: 400px) {

  .company-overview {
    padding: 80px 30px;
  }

  .mars-container {
    background-position: -400px -50px;
    background-size: 240%;
    min-height: 430px;
    padding: 40px 50px 0px 50px;
  }

  .mars-container {
    min-height: 600px;

  }

}
