@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap'); /*Noto Sans JP*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap'); /*Noto Sans*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap'); /*PT Sans*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); /*Roboto Condensed*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&&display=swap'); /*Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); /*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap'); /*Nanum Gothic*/
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap'); /*Barlow*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap'); /*Open Sans*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #000000;
  min-height: 1000px;
  overflow: visible;
}

.space {
  flex: 1;
}

h1, p {
  color: #FFFFFF;
}

nav {
  height: 80px;
  width: 100%;
  background: #000000;
  position: fixed;
  top: 0;
  opacity: 1;
  transition: top 0.3s ease-in-out;
  transition-delay: 0s;
  z-index: 50;
}

nav img {
  width: 180px;
  position: absolute;
  top: 19px;
  left: 4%;
  opacity: 1;
  transition: 0.3s;
  transition-delay: 0s;
}

nav ul {
  float: right;
  margin-right: 25px;
  opacity: 1;
  transition: 0.3s;
  transition-delay: 0s;

}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  padding: 2px 0;
  text-transform: uppercase;
  animation: font-flicker-fade 0.2s;
}

@keyframes font-flicker-fade {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

nav ul li a::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s linear;
}

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

label #btn,
label #cancel {
  color: #FFFFFF;
  font-size: 22px;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  opacity: 1;
  transition: 0.3s;
  transition-delay: 0s;
}

#check {
  display: none;
}


.slideshow-container {
  margin-top: 80px;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.image-container {
  display: block;
  overflow: hidden;
}

.image-container .image {
  width: 100%;
  max-height: 680px;
  margin: 0px;
  filter: brightness(80%);
}

.prev-btn, .next-btn {
  position: absolute;
  top: 43%;
  transform: translateY(-40%);
  width: auto;
  padding: 16px;
  margin-top: 22px;
  color: #FFFFFF;
  opacity: 0.7;
  font-weight: bold;
  font-size: 35px;
  border-radius: 0px 3px 3px 0px;
  cursor: pointer;
  user-select: none;
}

.prev-btn {
  left: 5%;
}

.next-btn {
  right: 5%;
  border-radius: 3px;
}

.prev-btn:hover, .next-btn:hover {
  opacity: 1;
}

.dot-container {
  text-align: center;
  position: relative;


}

.dot {
  position: inherit;
  top: -80px;
  height: 8px;
  width: 36px;
  margin: 0 5px;
  background-color: #CDCDCD;
  border-radius: 0px;
  display: inline-block;
  cursor: pointer;
  z-index: 1;

}

.active, .dot:hover {
  background-color: #555555;
}

.fade {
  animation: fade 0.3s ease-in-out;
}


@keyframes fade {

  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }

}

.text-description {
  color: #FFFFFF;
  text-align: right;
  position: absolute;
  top: 66%;
  right: 5%;
  z-index: 20;
  font-size: 42px;
  transition: 0s;
  transform: translate(0%, 0);
}

.text-description-child {
  color: #FFFFFF;
  text-align: right;
  position: absolute;
  top: 74%;
  right: 5%;
  z-index: 20;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  transition: 0s;
  transform: translate(0%, 0);
}

.about-us {
  display: flex;
  padding: 0px 0 0 50px;
}

.about-us .section-1 {
  flex: 6;
  margin: auto;
  position: relative;
  bottom: 30px;

}

.about-us .section-2 {
  flex: 6;
  overflow: hidden;
  padding-top: 35px;
}

.about-us .section-1 h1 {
  text-transform: uppercase;
  font-size: 42px;

}

.about-us .section-1 p {
  padding: 20px 0;
  padding-bottom: 50px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 30px;

}

.about-us .section-2 img {
  position: relative;
  width: 120%;
  bottom: -4px;
}

.hyper-btn {
  color: #FFFFFF;
  text-decoration: none;
  background-color: none;
  border: 2px solid #FFFFFF;
  padding: 15px 30px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

}

.hyper-btn:hover {
  color: #000000;
  position: relative;
  z-index: 1;


}

.hyper-btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: #FFFFFF;
  z-index: -1;
  transition: 0.3s;

}

.hyper-btn:hover::before {
  height: 100%;
}

.mars-container {
  min-height: 600px;
  background: url("../images/mars-terrain.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 50px 50px 50px;

}


.mars-container .inner-container {
  float: right;
  width: 40%;
}


.mars-container h1 {
  text-transform: uppercase;
  font-size: 42px;

}

.mars-container p {
  padding: 20px 0;
  padding-bottom: 50px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  line-height: 25px;

}

.rocket-container {
  min-height: 600px;
  background: url("../images/rockets-101.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 50px 50px 50px;

}


.rocket-container .inner-container {
  float: left;
  width: 40%;
}


.rocket-container h1 {
  text-transform: uppercase;
  font-size: 42px;

}

.rocket-container p {
  padding: 20px 0;
  padding-bottom: 50px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  line-height: 25px;

}

.gallery-content {
  min-height: 400px;
  display: flex;
  justify-content: center;
  padding: 20px 50px;


}

.gallery-content .section {
  width: 30%;
  min-height: 550px;
  margin: 0 1%;

}

.gallery-content .section-1 {
  background: url("../images/innovate-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(100%);
}

.gallery-content .section-2 {
  background: url("../images/explore-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(100%);
}

.gallery-content .section-3 {
  background: url("../images/colonization-img.jpg");
  background-repeat: no-repeat;
  background-position: center -35px;
  background-size: 1200px;
  filter: brightness(100%);
}



.gallery-content .inner-container {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -80%);
  transform: translate(-50%, -80%);
  text-align: center;
  width: 80%;
}

.gallery-content .section h1 {
  padding-bottom: 10px;
  font-size: 40px;
}

.gallery-content .section p {
  padding: 10px 0;
  padding-bottom: 50px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  line-height: 25px;

}

span.line {
  height: 4px;
  width: 40px;
  margin: 5px 0;
  background-color: #FFFFFF;
  border-radius: 0px;
  display: inline-block;
  z-index: 1;
}

.footer {
  min-height: 300px;
  padding: 20px 80px;
  background-color: #000000;
}

.footer .section-1 {
  display: flex;
  align-items: center;
}

.footer .section-2 {
  display: flex;
}

.footer .logo {
  flex: 1;
}

.footer .contact-section p {
  text-align: right;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

}

.footer .contact-links {
  flex: 2;
  text-align: right;
}

.footer .contact-links i {
  font-size: 28px;
  padding: 0 10px;
  color: #FFFFFF;
}

.footer .contact-links i:hover {
  color: #AAAAAA;
}

.footer .contact-links i#last-item {
  padding-right: 0;
}

.footer .logo img {
  max-width: 170px;
}

.footer-line {
  height: 0.5px;
  width: 100%;
  transform: scaleY(0.7);
  margin: 30px 0;
  background-color: #545454;
  border-radius: 0px;
  display: inline-block;
  z-index: 1;
}

.footer .copyright {
  flex: 2;
}

.footer .address {
  flex: 3;
}

.footer .copyright p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.footer .address p {
  padding-bottom: 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #767474;
  text-align: right;
}

@media screen and (max-width: 1150px) {

  .about-us .section-1 {
    flex: 8;
    bottom: 15px;
  }


  .about-us .section-1 p {
    font-size: 16px;
    line-height: 25px;
  }

  .about-us .section-1 h1, .mars-container h1, .gallery-content .section h1 {
    font-size: 36px;
  }

}

@media screen and (max-width: 1100px) {

  nav ul li a {
    font-size: 15px;
  }

  .dot {
    top: -60px;
  }

  .text-description {
    top: 66%;
    right: 6%;
    font-size: 36px;

  }

  .text-description-child {
    top: 74%;
    right: 6%;
    font-size: 15px;

  }






}

@media screen and (max-width: 1000px) {

  .about-us {
    padding: 30px;
    display: block;
  }

  .about-us .section-1 {
    bottom: 0;
  }

  .about-us .section-1 h1, .about-us .section-1 p {
    text-align: center;

  }

  .about-us .btn-container {
    text-align: center;
  }

  .about-us .section-2 {
    display: none;
  }

  .about-us {
    padding-bottom: 60px;
  }

  .mars-container {
    min-height: 500px;
    padding: 100px 50px 0px 50px;
  }

  .mars-container .inner-container {
    width: 50%;
  }

  .rocket-container {
    min-height: 500px;
    padding: 100px 50px 0px 50px;
  }

  .rocket-container .inner-container {
    width: 50%;
  }

  .gallery-content {
    padding: 20px 0;
  }

}

@media screen and (max-width: 860px) {

  label #btn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all 0.4s;

  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  #check:checked body {
    overflow: hidden;
  }

  #check:checked ~ label #btn {
    display: none;
  }

  #check:checked ~ label #cancel {
    display: block;
  }

  .dot {
    top: -50px;
    height: 4px;
    width: 18px;

  }

  nav {
    height: 60px;
  }

  nav img {
    width: 140px;
    top: 15px;
  }

  .slideshow-container {
    margin-top: 60px;
  }

  .text-description {
    top: 64%;
    right: 8%;
    font-size: 28px;

  }

  .text-description-child {
    top: 72%;
    right: 8%;
    font-size: 14px;

  }

  .gallery-content {
    display: block;
    padding: 20px 20px;
  }

  .gallery-content .section {
    width: 100%;
    min-height: 300px;
    margin: 2% 0;
  }

  .gallery-content .inner-container {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
  }

  .gallery-content .section-3 {
    background-position: center;
    background-size: cover;
  }







}


@media screen and (max-width: 768px) {

  .prev-btn, .next-btn {
    padding: 12px;
    font-size: 22px;
    top: 35%;
  }

  .dot-container {
    padding: 0px;
  }

  .dot {
    height: 4px;
    width: 18px;
  }

  .dot {
    top: -35px;
  }

  .text-description {
    top: 60%;
    right: 8%;
    font-size: 22px;

  }

  .text-description-child {
    top: 70%;
    right: 8%;
    font-size: 12px;

  }

  .about-us .section-1 h1 {
    font-size: 32px;

  }

  .about-us .section-1 p {
    font-size: 14px;
    padding-bottom: 30px;
  }

  a.hyper-btn {
    font-size: 14px;
  }

  .hyper-btn {
    border: 2px solid #FFFFFF;
    padding: 10px 20px;

  }

  .mars-container {
    background-position: -250px -50px;
    background-size: 150%;
    min-height: 400px;
    padding: 50px 50px 0px 50px;
  }

  .mars-container h1 {
    font-size: 32px;

  }

  .mars-container p {
    padding: 20px 0;
    padding-bottom: 30px;

  }

  .mars-container .inner-container {
    width: 65%;
  }

  .rocket-container {
    background-size: 150%;
    min-height: 400px;
    padding: 50px 50px 0px 50px;
  }

  .rocket-container h1 {
    font-size: 32px;

  }

  .rocket-container p {
    padding: 20px 0;
    padding-bottom: 30px;

  }

  .rocket-container .inner-container {
    width: 65%;
  }

  .gallery-content .section h1 {
    font-size: 32px;
  }

  .gallery-content .section p {
    padding: 10px 0;
    padding-bottom: 30px;

  }

  .footer {
    padding: 20px 40px;
    padding-bottom: 50px;
  }

  .footer .section-1 {
    display: block;
  }

  .footer .section-2 {
    display: block;
  }

  .footer .contact-section p {
    display: none;
  }

  .footer .contact-links {
    text-align: left;
    padding-top: 20px;
    padding-bottom:
  }

  .footer .address {
    padding-top: 20px;
  }

  .footer .address p {
    text-align: left;
  }





}

@media screen and (max-width: 600px) {

  .mars-container {
    background-position: -400px -50px;
    background-size: 200%;
    min-height: 400px;
    padding: 50px 50px 0px 50px;
  }

  .mars-container h1 {
    font-size: 32px;
    text-align: center;

  }

  .mars-container p {
    padding: 20px 0;
    padding-bottom: 30px;
    text-align: center;

  }

  .mars-container .btn-container {
    text-align: center;
  }

  .mars-container .inner-container {
    width: 100%;
  }

  .rocket-container {
    background-position: -60px 0px;
    background-size: 200%;
    min-height: 400px;
    padding: 50px 50px 0px 50px;
  }

  .rocket-container h1 {
    font-size: 32px;
    text-align: center;

  }

  .rocket-container p {
    padding: 20px 0;
    padding-bottom: 30px;
    text-align: center;

  }

  .rocket-container .btn-container {
    text-align: center;
  }

  .rocket-container .inner-container {
    width: 100%;
  }


}

@media screen and (max-width: 400px) {

  .text-description {
    top: 57%;
    font-size: 22px;

  }

  .text-description-child {
    top: 69%;
    font-size: 10px;

  }

  .mars-container {
    background-position: -400px -50px;
    background-size: 240%;
    min-height: 430px;
    padding: 40px 50px 0px 50px;
  }


}
